<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>Servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Test/HelloTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetScretImage</servlet-name>
        <servlet-class>EducationSystem.Servlet.GetScretImage</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetScretImage</servlet-name>
        <url-pattern>/GetScretImage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AllUser</servlet-name>
        <servlet-class>RunModule.GetAllUserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllUser</servlet-name>
        <url-pattern>/run/AllUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUserRunList</servlet-name>
        <servlet-class>RunModule.GetUserRunList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserRunList</servlet-name>
        <url-pattern>/run/GetUserRunList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRunInfo</servlet-name>
        <servlet-class>RunModule.AddRunInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRunInfo</servlet-name>
        <url-pattern>/run/addRunInfo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EduLogin</servlet-name>
        <servlet-class>EducationSystem.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EduLogin</servlet-name>
        <url-pattern>/edu/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>EducationSystem.Servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getScoresList</servlet-name>
        <servlet-class>EducationSystem.Servlet.GetScoresList</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>getScoresList</servlet-name>
        <url-pattern>/edu/getScoresList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getLessonList</servlet-name>
        <servlet-class>EducationSystem.Servlet.GetLesson</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLessonList</servlet-name>
        <url-pattern>/edu/getLessonList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getScoreStatistics</servlet-name>
        <servlet-class>EducationSystem.Servlet.GetScoreStatistics</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>getScoreStatistics</servlet-name>
        <url-pattern>/edu/getScoresStatistics</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getStudyPlan</servlet-name>
        <servlet-class>EducationSystem.Servlet.GetStudyPlan</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>getStudyPlan</servlet-name>
        <url-pattern>/edu/getStudyPlan</url-pattern>
    </servlet-mapping>
</web-app>